body {
    padding: 0;
    margin: 0;
    font-family: 'Gotu', sans-serif;
}
.header {
    background-color: #f04478;
    color: #ffffff;
    width: 100%;
    padding: 50px 0;
}
.date-picker-sec {
    padding: 20px;
}
.wrapper {
    width: 500px;
    margin: 10px auto;
    text-transform: uppercase;
    text-align: center;

}